<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Course Website</title>
</head>
<!-- 
<style>
  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .heading {
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
    color: blue;
    animation: blink 1s infinite;
  }
</style> -->

<body>
  <!doctype html>
  <html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
  </head>
  <!-- This Is Header and Navbar -->

  <body>
    <h1 class="text-3xl font-bold ">
      <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img class="h-20"
              src="https://play-lh.googleusercontent.com/2GDbZ1zgwBMKBPQV9bFuxd9sAe05zPg5P7X-sIPdJdYHFdtn9cjdEkQKtWXBoMJCkNc"
              alt="">
            <span class="ml-3 text-xl text-blue-500">Coding Pro</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center navbar ">
            <a class="mr-5 hover:text-blue-500">About Us</a>
            <a class="mr-5 hover:text-blue-500">Virtual Labs</a>
            <a class="mr-5 hover:text-blue-500">Programs</a>
            <a class="mr-5 hover:text-blue-500">For College</a>
          </nav>
          <button
            class="inline-flex items-center bg-blue-600 border-0 py-2 px-3 focus:outline-none text-white hover:bg-black rounded text-base mt-4 md:mt-0 mx-3">Log
            in</button>
          <button
            class="inline-flex items-center text-white bg-blue-600 border-0 py-2 px-3 focus:outline-none hover:bg-black rounded text-base mt-4 md:mt-0">Register
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
    </h1>
  </body>

  </html>
  </h1>

  <!-- This Is Landing Page Code -->

  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero"
          src="https://s3-alpha-sig.figma.com/img/e6e7/2989/38506939c717340be898d2578dbd1a62?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pMJPtYkYoGxYw1-5OmSKZpJDsv6lA5Z0wWR3l6GDxcHpVUkhDSfyM5T93eTJBSdSocib8pBGEukob2xvm-0iShK-E18ZIIZoE8OMFpUc-suZRMS2z4AwVQODG-q3aST9fZ3-LPkfxamONc-KzpuBp3e8dgkUBLwBORHFpRf8mpU6rykoZqLe8OA22o0~q~WNPq4Yuj37qmuz-FwD38TVDhfKaVb0j6EWLkAZVOtfVLHUPnKGTm-29r-OpW8wdzlMzIwVwW4k4LHKqGLRbUxftrEp164s15CWqyTUEwcOpEH~z4PSPZj9xtuSeAR9i6Uby21zlja4ELv972NERRBxYg__">
      </div>
      <div
        class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          <br class="hidden lg:inline-block">
        </h1>


        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 -my-44">Where The World Learns
                To Code
              </h1>
              <p class="lg:w-2/3 mx-auto leading-relaxed text-base"><q><b>Unlock Your Coding Potential with Expert
                    Training

                  </b> </q> <strong> At Coding Pro, we are dedicated to empowering
                  individuals with the skills and knowledge they need to excel in the world of programming. Whether
                  you're
                  a beginner just starting your coding journey or an experienced developer looking to advance your
                  skills,
                  our comprehensive courses and hands-on training are designed to help you succeed..</strong></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <!-- This Code Box  -->

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-1 mx-auto ">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"></h1>
      </div>
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <img class="ml-24" src="https://cdn-icons-png.flaticon.com/128/1068/1068530.png" alt="city" srcset="">

            <h2 class="title-font font-medium text-3xl text-gray-900">50+Cities</h2>

          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">

            <img class="ml-24" src="https://cdn-icons-png.flaticon.com/128/8476/8476390.png" alt="Modules">

            <h2 class="title-font font-medium text-3xl text-gray-900">80+Modules</h2>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <img class="ml-24" src="https://cdn-icons-png.flaticon.com/128/10433/10433136.png" alt="Students">
            <h2 class="title-font font-medium text-3xl text-gray-900">10K+Students</h2>

          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">

            <img class="ml-24" src="https://cdn-icons-png.flaticon.com/128/2290/2290733.png" alt="Institutes">

            <h2 class="title-font font-medium text-3xl text-gray-900">100+Institutes</h2>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- This Code after 4 box -->

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-20 mx-auto">
      <div class="flex flex-col text-center w-full mb-1">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">RECOGNISED BY</h2>
      </div>
      <marquee behavior="" direction="left">
        <div class="flex flex-wrap -m-2">
          <div class="p-24 md:w-1/3">
            <div class="flex rounded-lg h-full bg-gray-100 p-2 flex-col">
              <div class="flex items-center mb-3">
                <img class="mt-12"
                  src="https://s3-alpha-sig.figma.com/img/a234/52c8/cce5f0cb80a82f17d5604bc3db906bcc?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ecSzCWuKYoF6vGF-Jr1cqZ29BQxglmER0-~UJiFeI3XzW8vIzkG-N4~Pgc5pPHqCQtOKf~yoXyOzzRyxYVycc6RzJW~CiA6ntUEhxSRpZFRXddxUhe-LfEPcqXPI5JCscaaiAK147Ei7gIM9b8XiUBbFZXfc-qrg3ksUKv0muSnxZiJjBu19xB2Yn-zkRItUK-Jvee8-VWttc3oIcTmfB56JoZYFg4ofREoGVSKDp4YgeClYvHaryCBBoGjC3dSXM4Ew5vkWneld2AUuGI34NDwpUj71XDK40gDm5jm8rvQ8FP9iKZDs70vdaGQOf-fa-CSh6fpfhORkO-qPB69wlQ__"
                  alt="" srcset="">
              </div>
              <div class="flex-grow">
              </div>
            </div>
          </div>
          <div class="p-24 md:w-1/3">
            <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
              <div class="flex items-center mb-3">
                <img
                  src="https://s3-alpha-sig.figma.com/img/db8f/8eea/2f78e02fc175395eb8601bb264e73f89?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I2O-eRqHoYNBDrGJCskL40hPQ1SUK2LQbTh8hDz~th2~i6FkSBJlOvxT3S-60X2oAjoh8TwLWl8qWwSYWj~xSs8MsW8GSIEhUp68cpm7aKQtYFSLz~~Kz2BIJczKWqHbsejK-~Ra9x5AlJXUaxtrbfkfXq08KkIE-Osi605x-90ntPUX4o-EMq34WGD6G2PwSut3LaVuhV9qpgDjhWPLkiTwRG-5c~kh-RNwbFbr3IQhn~E3kgxt9masVQDMPqjceckOeyz2oqbrK5rUWM8DUTWM1qIS4i5yn~JwKEMRHfZf6mOJEIXl-1ANtuWZbmtqUrMmV2NAkBFrsac2aZ-iQw__"
                  alt="">
              </div>
              <div class="flex-grow">
              </div>
            </div>
          </div>
          <div class="p-24 md:w-1/3">
            <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
              <div class="flex items-center mb-3">
                <img
                  src="https://s3-alpha-sig.figma.com/img/04aa/cb84/7189343a85161128d28adebaeae502c0?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YR~hHYwIP1umrJze9Kf0EYbsV5~P7u-5NK1LlbSOpfkizTRxN2CQQJPL62p8p-9b0C54DdgsW8b6lqb-qlNQpWp3CVYUAiKYMkc50F~bMRfKiMOSZonO52vLyHUbVj8mhJ8cnqcnBw2TEuoDtvhb1b4rx8e6ihaWWHldJulYaKq0TDyMfWRN6f2e4krOTLZE58IexNuTD0ArW7Y-mVtb7~MN67qZntm8GehPCepg-0E614ymDxk4lrKWm6YtPRGCuqqCZ9tTBbLKTUP38L2hO33rT15zcsL7ubvgAO2NjN~tMqMYLGgmALSxaggYbEJy9gJ0MkozjGfuRfEQdP0v1A__"
                  alt="">
                <div class="flex-grow">
                </div>
              </div>
            </div>
          </div>
      </marquee>
    </div>
  </section>

  <!-- This Code After marquee tag -->

  <section class="text-gray-600 body-font bg-blue-500">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">What Sets Us Part ?</h1>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/eea3/38e9/92fc48dd775a5e49c69d9df9585a1abb?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OtQ9HnAxY4jUkLS8y7fq1OySx35NTo7QO9NnaIkGnnCIN4GfGoXT9yEKFEo3jRa8-dbHH97qpMWT0tYP1pKi8ZTGAuY0tX1no~FsoNH~W1Zp6Z71dCai6Ad-fgESWe6zACjrhJzY3PIfXsSWGTZkFKbW83wIeyIre2vI~ulefzgQ7-KAczATSZKq~m6fNzUmGt~nApR9ULS~gnyCJCoHpJx9ntnkA15MNGCZ~ci6FFqz1JiYl~hw1CvFhNS90Ibqvx6MvFGva1bqTXCq3vHCue-mYq-ilg06ROb72~z4C3qQIE~e9cL2RRyA37bDFIMibuUUvAyrm6~KnNfXXI~F8A__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">Created By IIT-IIM Alumni</h2>
            <p class="leading-relaxed text-base"><strong><q>We’ve learnt from the best and strive to bring you the
                  best.</q></strong></p>
          </div>
        </div>

        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/4870/3435/fa2691a9b7e790bd627b69d28a6429f7?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XuJmAxMF47scCQ38HFD121pwGH1~xU71Ne1s7IjF6SszXI-5wbnhcjL2dR027~Bk8wYl219qqnrJqWCGsnUBKGhnE8jhBGMJSL93u2kHDPMATxhlfbqfSLYAV1CgYWG7fLx60dF7nV30LBaP~wEkPpLDjZjIapEUORIHLIE4qTAX77erjSoY8u45Xjpc4mbDOLQhvb7d21SVb32ka~mFZUBd0OxgVdz9eERrzJsHQa9MlcW4XZx4tiDsEGC5Gg09IbueynHDXCJ1F7ZqIlcGzjmweFHeRaBR7BJGgnq5sRJDKEAkf-051eEjBiQH-Y9kNIjNd7BPzQSZ65BCO4lDdg__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">A.I.Integration</h2>
            <p class="leading-relaxed text-base"><strong><q>We have harnessed the power of A.I. to enhance and assess
                  your
                  knowledge</q></strong></p>
          </div>
        </div>


        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/2b4f/e0c0/39130d10b6cd8848224495f06e826e35?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TUKaY5iMvVKJnxI72C5C0IrJZ-A~u4ZKMHFOMKDbmmrU96Zs1CQkL6KrYlWBf7~ivP3ogvDkxf~m8l0DDYf6dGxfjxMEgZkh~C3EujrjEm9jY7NBzBHLxVdruECAQ0BRdLt01XWyvJOyuZ5-aEGXF3iF83qMsjvgOPCHGvkISkWCK8dvNGCfyvcs8v~gke8wihdbcXL5HpWihq78gn1qjz4XQ1mtgX2dF02j3n62MfdwXMXzHQ9K7ndpksn7RaookSCJsWWYNB5RMFgYAF0GD5jEA32LjAJ-jMljJgQZcZA60y1yn38kZ~OhJMUxYvFzbO3aOoM66AMDaDr~kt3msw__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">In-App Coding</h2>
            <p class="leading-relaxed text-base"><strong><q>We have harnessed the power of A.I. to enhance and assess
                  your knowledge</q></strong></p>
          </div>
        </div>


        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/be98/a486/9b8c23dfc8f0e3101076c9ba4ddaf793?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=neSSHoqQZbYJbSObZB2ubkXdhZQIRkh4lk27nMeRjX01-FxKQYFT~UA7YmDLIxnXw1FhlW0w0vVrxHWvS6alE8pHptI911Y33RjoftsyKXlVeh63kJ3FW~JmNHaeJuN5nsPWc9uC8EINOr6XQMDp1pQ1ryN17r-NEHL2ABnyluvh4X713Ggjwt4ZaVPmWarEtneZTk1THUGvM~m7Pgst1qGjQSxcB4TwKzm4AMJLvnSSzsaQfOTEDaipJ4zL~gdr1tKJkwLVVZBC3lPoNZpTFdkbTzyNAFGuOEKK8tb9g-Viy7DV~aRGZrpQQmnGHEUURZdCVCh8yKRL0iUUlk15Aw__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">Extensive E-books</h2>
            <p class="leading-relaxed text-base"><strong><q>Deepen your understanding and mastery of the
                  skills and more.</q></strong></p>
          </div>
        </div>

        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/3030/5f0d/8173eab36b43c71b03e4ac4e9b711ad3?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T~crn-cdS-V0C1fxz2HOsBJVVHg7tdBsVV2kKykamErWdeIKgenfXHFZRrERRunYlJYmF8Nj~zi1ZWR85lnpDANkeMW7lF73UIx~QjN6RVfvlPMAXltrzmfuOP-tZpSPkmMl7L-FbwZLlJLO1zPeyni5CsvbddkuQjCmta4b3BjNWKO9HtDzqJWQJecYh9rd-BbGp1HJq1h2uNE1TV2TyUD07zAppoWgp~oSD7R06U6PA9t1oHmdkhsS9AvMhJS92wLjclynaFg0Fb1Xipt-CgGAHxpUvaux5bXVGdvtv7~IMePmvEp6IQePhR5Fhg0TbYXZeTFSX3STygGptF~Zyg__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">Recorded Lectures</h2>
            <p class="leading-relaxed text-base"><strong><q>Access lectures anywhere and anytime at your own
                  pace.</q></strong></p>
          </div>
        </div>

        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-black-200 p-6 rounded-lg bg-white">
            <img class="w-32"
              src="https://s3-alpha-sig.figma.com/img/f95b/9dad/0e9d75812f5b35c3390b920b02b91f9a?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ls2Uoe9KT68m7t7Eiv5a4aTN~d8KOPcGaT6C~to~R59qFQ9WuQ97uO-kaLPlBpFgvIcIhrSK3RPaf8mA5yt1IjnWqDjRbmczo2nu03b5SIvIOgofb4xZ064NahUnwUauk7Obbwa8Q8wab5L9j~Op~r7GEx7pSg7Sw8-bCnFf2VltfADX6kFGzVegrt6UUVpmEhD4~nUWdsQcmW3dcPotSGOv-JJ3FanlFyfYO0Ae5pIMfdRepC4Xo0SVejJsRy9p8xNMQt6G-hRTxWUpunMPfe06ykd3N~Fjd1xMHH1f9EhfgbmOnh8aQCcmxBwXR-nzkGHv4XQl7Z9eHej4tvtYcA__"
              alt="">
            <h2 class="text-lg text-blue-500 font-medium title-font mb-2">Flash Cards</h2>
            <p class="leading-relaxed text-base"><strong><q>Make learning convenient and fun using flash
                  cards and more.</q></strong></p>
          </div>
        </div>


      </div>
    </div>
  </section>

  <!-- This Code After Six Columns -->

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="mb-20 ml-28 text-4xl leading-10 text-center font-serif font-medium heading"><b><q>Check Out Our
            <span style="color:#008D8F;">Holistic
              Programs</span>
            Designed To
            Help You
            Reach Your <span style="color:#008D8F">Goals</span></q></b></h1>

      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full"
              src="https://s3-alpha-sig.figma.com/img/3d80/85ca/8d9b9cc9219fc17dfbac7fdcd76afd24?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oj1oyvzp-37NjQWoGAuOvoWKABP3Zb7hzYXiUWvH3PAGEzmmKA6YWaoGuDGJQLZAHAvM4WDo2qBvXpUppdueG3CZrQMG0gqQQofe5dWtvSGwp~UPDjbBZ0sbRvxaxdl4Ph6Cq6-VFcceXa6THMpyJhNkA04y73BwQSURluY3ch8-QM1euAd696H2T68Vd8571~FJzdvn5xZU~Cc1pvhofuG3ykd6zB5zL~pUwlgr7lRpb6x2prVB8USScYQ775vMs12h1XuaZotzY3XkEtJKyL23JRYUvWqtKGmV3wBwnR36ySKkYW7lhwcR2Xefvg38dBj6HjbCGJuOPLXqT2D9Qg__">
          </div>
          <h1 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Campus Training</h1>
          <h2><b>For students| 24+ Modules | 10 instructors</b></h2>
          <p class="leading-relaxed text-base">The app features in-app coding, eliminating the need for laptops. With
            cloud-based virtual machines and labs, students can practice freely, cutting hardware and maintenance
            costs.
          </p>
          <button class=" flex mx-auto mt-6 text-white bg-blue-600 border-0 py-2 px-5
            focus:outline-none hover:bg-black rounded">Explore
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2 mt-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg></button>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full bg-cover"
              src="https://www.hireheroesusa.org/wp-content/uploads/2022/09/professional_development.jpeg">
          </div>
          <h1 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Professional Training</h1>
          <h2><b>For Professionals | 24+ Modules | 10 instructors</b></h2>
          <p class="leading-relaxed text-base">The app features in-app coding, eliminating the need for laptops. With
            cloud-based virtual machines and labs, students can practice freely, cutting hardware and maintenance costs.
          </p>
          <button
            class="flex mx-auto mt-6 text-white bg-blue-600 border-0 py-2 px-5 focus:outline-none hover:bg-black rounded">Explore
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2 mt-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg></button>

        </div>
      </div>
    </div>
  </section>

  <!-- This code After the Two Blocks -->

  <section class="text-gray-400 bg-black body-font">
    <h1 class="text-4xl ml-60">Our efforts to innovate <span style="color: #008D8F;">have been recognized
      </span>and
      appreciated</h1>

    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white ">Before they sold out
          <br class="hidden lg:inline-block">readymade gluten
        </h1>
        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant
          cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic
          tumeric truffaut hexagon try-hard chambray.</p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero"
          src="https://s3-alpha-sig.figma.com/img/c95b/8366/a45aa52809af9b8c37ed017c32130048?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NaMeN-uTPd7sYA112J1aM-gEq1dNEdNgys6XhdFIKgluvkX3NAQ7Q9WzmDuWSkhe2I561VVW3fDAMyLoGHZB1CV2~JhuWUFKoIUD3olqdYkxNi1v1RxSwPosZRvEMxAlbo1wcmWB1eBDbJf1xrlo6meLcy-yPbMSyzWKOCxr5ygc0RJXUuqx7gg6CcM2o~5xDpFXZdaZg42AsWugbw0qktAnzB8xWtLWAmw19HKQ-mTqC8WEZHPb8NvhHduzEMJ-ayF7A~IfTRDT9T1DQ7AaXCmw4C~dyimSpRH9a1kxDEr7IS38wY7j5Pnr3N8DZ3jtFvPjuDGmcIgQk4Py36OQ1g__">
      </div>
    </div>
  </section>

  <!-- This Code After Gallery -->

  <section class="text-gray-400 bg-black body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0 mb-10">
        <img class="object-cover object-center rounded" alt="hero"
          src="https://s3-alpha-sig.figma.com/img/c819/a9ec/0047ccef78c392245908f6922b8e2cfb?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AZvQdPxIpBk7ASu0UJZeoc6XHbIP66j7i9p04-JFok1Lc1qCJV2qA3I-9m5U1Vxc5g4b4dr47cNhOvr6D1ygjyMOEUNah8frYbaROKkDnQoLBl16ObO7Qc9xFG039UR-YWejS0d4FKS1bf6QIukkNatl-USuEkT8kv~mNYChOzt0cwkWyD4IsT4ksFftFnpSZAZ1NQSUJioy4umfIA5bGwZsoaHKepMxb3MW5k~6WHPCURXYOk66NDoVr2qsH8PQEaNqox5itFKlaJfg-12-43DgmrcgES0~y1qVzM3LQFRtiHAoawtikyoB5bfi1JtUGtcVhfglgUpwSRCaoUcOZw__">
      </div>
      <div
        class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Before they sold out
          <br class="hidden lg:inline-block">readymade gluten
        </h1>
        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant
          cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic
          tumeric truffaut hexagon try-hard chambray.</p>

      </div>
    </div>
  </section>

  <h1 class="mt-10 mb-20 ml-28 text-4xl leading-10 text-center font-serif font-medium heading"><b><q> Because We Offer
        What
        <span style="color:#008D8F;">You Need at every step</span>
        of your transformative learning <span style="color:#008D8F">journey</span></q></b></h1>
  <section class="text-gray-400  body-font bg-white">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap w-full">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-blue-500 pointer-events-none"></div>
            </div>

            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
              1
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-black mb-1 tracking-wider">STEP 1</h2>
              <b class="text-black">Custom Specialization :</b>
              <p class="leading-relaxed text-black">We understand the value of choice, so we empower you to design your
                course and
                select the specialization that best suits your goals.</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-blue-500 pointer-events-none"></div>
            </div>

            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
              2
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-black mb-1 tracking-wider">STEP 2</h2>
              <b class="text-black">Virtual Labs :</b>
              <p class="leading-relaxed text-black">We provide our students with the convenience of accessing a fully
                equipped lab
                from anywhere just with an internet connection.</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-blue-500 pointer-events-none"></div>
            </div>


            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
              3
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-black mb-1 tracking-wider">STEP 3</h2>
              <b class="text-black">AI Tests :</b>
              <p class="leading-relaxed text-black">We understand that teaching alone isn't enough, so we provide our
                students with AI-powered tests to assess their progress.</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-blue-500 pointer-events-none"></div>
            </div>

            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
              4
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-black mb-1 tracking-wider">STEP 4</h2>
              <b class="text-black">Resume Builder :</b>
              <p class="leading-relaxed text-black">We not only support skill development but also leverage AI to
                highlight those
                skills effectively on your resume to help you stand out from the crowd.</p>
            </div>
          </div>

          <div class="flex relative">
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
              5
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-black mb-1 tracking-wider">STEP 5</h2>
              <b class="text-black">Placement Preparation :</b>
              <p class="leading-relaxed text-black">We go beyond building skills, taking our students to the next level
                by
                providing them with thorough placement preparation.</p>
            </div>
          </div>
        </div>

        <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12"
          src="https://media.istockphoto.com/id/1369136607/photo/positive-millennial-black-man-student-with-books-on-yellow.jpg?s=612x612&w=0&k=20&c=KkmEBqprvv39OzUniJwu401Y59ZZ-k1Crt-Fowxn2CI="
          alt="step">
      </div>
    </div>
  </section>

  <!-- This Code After Step Bar -->

  <section class="text-gray-400 bg-gray-900 body-font">
    <h1 class="sm:text-3xl text-2xl font-medium title-font scroll-ml-1 text-white">And our students agree . . .</h1>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">

        <div class="bg-white lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
              src="https://i.pinimg.com/736x/82/63/37/826337ecbea0d8886c528f306e6547a5.jpg">
            <p class="leading-relaxed text-black">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki
              taxidermy
              90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar
              cronut adaptogen squid fanny pack vaporware.</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-orange-600 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
            <p class="text-black">Backend Developer</p>
          </div>
        </div>

        <div class=" bg-white lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
              src="https://a.storyblok.com/f/191576/1200x800/215e59568f/round_profil_picture_after_.webp">
            <p class="leading-relaxed text-black">Edison bulb retro cloud bread echo park, helvetica stumptown
              taiyaki
              taxidermy
              90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar
              cronut adaptogen squid fanny pack vaporware.</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-orange-600 font-medium title-font tracking-wider text-sm">ALPER KAMU</h2>
            <p class="text-black">Frontend Developer</p>
          </div>
        </div>

        <div class="bg-white lg:w-1/3 lg:mb-0 p-4">
          <div class="h-full text-center">
            <img alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkUYrITWyI8OhPNDHoCDUjGjhg8w10_HRqg&s">
            <p class="leading-relaxed text-black"><q>Edison bulb retro cloud bread echo park, helvetica stumptown
                taiyaki
                taxidermy
                90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar
                cronut adaptogen squid fanny pack vaporware.</q></p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
            <h2 class="text-orange-600 font-medium title-font tracking-wider text-sm">HENRY LETHAM</h2>
            <p class="text-black">Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- This Code After 3 Columns -->

  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">We know just education is not enough
          anymore</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">So we’ve got the best mentors for you.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative h-80">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdF93my5cnG_tbvUlY7iXuoHv-p6fbJEL6JA&s">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Vikas Shukla</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Software Developer</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative h-80">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfv1cmcx6E-e4D4-vvOwJLt9BZxs5rFjoqTg&s">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Sumit Bhatt</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Web Developer</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative h-80">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://b953582.smushcdn.com/953582/wp-content/uploads/2023/08/Pocket-Square-Two-Point-Fold.jpg?lossy=0&strip=1&webp=1">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-400 mb-1">Akshay Sapkale</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Sr Full Stack Web Developer</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- This Code After Columns -->

  <section class="text-gray-600 body-font overflow-hidden">
    <h1 class="mt-10 mb-20 ml-28 text-4xl leading-10 text-center font-serif font-medium heading"><b><q> We’ve also been
          in
          <span style="color:#008D8F;">news!</span></q></b></h1>

    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-amber-900 text-3xl">The Print</span>
            <span class="mt-1 text-black text-sm">2 Apr 2011</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><q>Coding Jr’s CEO, Sumit Bhat felicitated at
                Times 40 Under 40</q></h2>
            <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up
              snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha
              lumbersexual pork belly polaroid hoodie portland craft beer.</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-amber-900 text-3xl">Business <br>Outreach</span>
            <span class="mt-1 text-black text-sm">29 Jun 2024</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><q>Meet Vikas Shukla- The flag bearer of
                technology and . . .</q></h2>
            <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up
              snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha
              lumbersexual pork belly polaroid hoodie portland craft beer.</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-amber-900 text-3xl">The Print</span>
            <span class="text-sm text-black">19 Nov 2023</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><q>Meet Vikas Shukla- The flag bearer of
                technology and . . .</q>
            </h2>
            <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up
              snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha
              lumbersexual pork belly polaroid hoodie portland craft beer.</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- This code after news section -->

  <form action="get-form" method="post">
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
        <div
          class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
          <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0"
            marginwidth="0" scrolling="no"
            src="https://s3-alpha-sig.figma.com/img/8c24/83db/e79f2bfe6b104a28539394f367c88f0c?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=M7-GuXBSKxblc2vsMmRUmU~zggtXmZUOV7SL~Cx4ueqCjjtzc0gFlMk8agZGIoudWYvXoc6~2NOd-u~~lVSJC9saGoSVj3nt6lrZkdhiig846J8iABoeZl~pkVQwW~jfR5TlTEkOBakHIBcQ~knjtJ5Gj2VXMABwR5KXi3NWSYsA2AYFeo381cEo4rpuOK0khe2nNoJwGokNFcz2CndPFfs5UUXU1AOrPRYki5f8U7~dV4aBurNXJkIJekVGaHt2UeW2LqLMxQdcWxWzpybDH6jZo5pT~ShYyQVaoYQ1tmAzHLtYG3roK294sQJYV85ey80kXHHtV0wAOwsk0b0oFg__"></iframe>
          <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
            <div class="lg:w-1/2 px-6">
              <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
              <p class="mt-1">Photo booth tattooed prism, portland taiyaki hoodie neutra typewriter</p>
            </div>
            <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
              <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
              <a class="text-indigo-500 leading-relaxed">example@email.com</a>
              <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
              <p class="leading-relaxed">123-456-7890</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
          <h1 class="text-blue-900  mb-1 font-medium title-font text-2xl">Find out more reasons to stay</h1>
          <p class="leading-relaxed mb-5 text-gray-600">Post-ironic portland shabby chic echo park, banjo fashion axe
          </p>
          <div class="relative mb-4">
            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
            <input type="text" id="name" name="name"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" name="email"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="mobile" class="leading-7 text-sm text-gray-600">Mobile No</label>
            <input type="number" id="mobile" name="mobile"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea id="message" name="message"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <button
            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enquire
            Now</button>
          </p>
        </div>
      </div>
    </section>
  </form>

  <!-- Footer Code last section -->

  <footer class="text-black body-font bg-blue-500">
    <div
      class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">

          <img class="h-28 mt-5"
            src="https://play-lh.googleusercontent.com/2GDbZ1zgwBMKBPQV9bFuxd9sAe05zPg5P7X-sIPdJdYHFdtn9cjdEkQKtWXBoMJCkNc"
            alt="">
          <span class="ml-3 text-xl text-black">Coding Pro</span>
        </a>
        <p class="mt-2 text-sm text-white"><img class="h-5"
            src="https://cdn-icons-png.flaticon.com/128/6596/6596115.png" alt="">+91 97973 59144 <br>
          <img class="h-5 mt-5" src="https://cdn-icons-png.flaticon.com/128/6596/6596116.png" alt="">
          codingjr.in@gmail.com <br>
          <img class="h-5 mt-5" src="https://cdn-icons-png.flaticon.com/128/11662/11662942.png" alt="">
          AIC-BHU, Varanasi, 421004 <br>
        </p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">COURSES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-white hover:text-gray-800">Campus Training Program</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">Professional Training Program</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">B. Tech</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">B. Des.</a>
            </li>
          </nav>
        </div>


        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">COMPANY</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-white hover:text-gray-800">About</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">Blog</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">Our Team</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">Privacy</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">Terms & Conditions</a>
            </li>
            <li>
              <a class="text-white hover:text-gray-800">FAQ</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-black">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">© 2020 Tailblocks —
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-white ml-1"
            target="_blank">@Coding Pro</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-blue-900">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-blue-400">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
              </path>
            </svg>
          </a>
          <a class="ml-3 text-pink-600">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-white bg-blue-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>

</body>

</html>